* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  --text-color: #E1E1E6;
  --secondary-color: #f0f002;
  --border-title-color: #746615;
  --bg-card-color: #1A1F1B;
  --bg: url(/assets/bg-yellow.svg);
}

body.blue {
  --border-title-color: #338AF3;
  --secondary-color: #338AF3;
  --bg-card-color: #202024;
  --bg: url(/assets/bg-blue.svg);
}

body.green {
  --border-title-color: #047C3F;
  --secondary-color: #047C3F;
  --bg-card-color: #1D1C19;
  --bg: url(/assets/bg-green.svg);
}

body {
  font-family: 'Sora', sans-serif;
  background: #121214 var(--bg) no-repeat top center/cover;
  margin-bottom: 8rem;
}

#app {
  width: fit-content;
  margin: auto;
  padding-top: 5.2rem;
}

header {
  margin-bottom: 6.3rem;
  text-align: center;
}

nav ul {
  padding-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

nav ul li a {
  border: 1px solid;
  padding: 10px 50px;
  border-radius: 6px;
  background-color: #121222;
  color: #F7DD43;
  font-weight: bold;
}

#cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 15px;
  gap: 32px;
}

.card {
  padding: 32px 23px;
  text-align: center;
  background: var(--bg-card-color);
  border-bottom: 3px solid var(--secondary-color);
  border-radius: 6px;
  margin-bottom: auto;
}

.horario {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.horario p {
  color: var(--text-color);
  font-weight: 400;
  font-size: 14px;
}

.card {
  opacity: 0;
  animation: appear 1s forwards;
}

.card h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 8px 16px;
  border: 1px solid var(--border-title-color);
  border-radius: 6px;

  width: fit-content;
  margin-inline: auto;
  margin-bottom: 53px;
  color: var(--secondary-color);
}

.card h2 span {
  color: var(--text-color);
  text-transform: uppercase;
  font-size: 14px;
}

.card ul {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 270px;
}

.card ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.card ul li+li {
  padding-top: 24px;
  border-top: 1px solid #48484c;
}

.card ul li strong {
  font-weight: 900;
  font-size: 30px;
  line-height: 125%;
  color: var(--text-color);
  margin-bottom: 15px;
}

.card ul li .grupo {
  font-weight: 900;
  color: var(--secondary-color);
}

.card ul li .nation {
  padding-top: 8px;
}

.card ul li strong,
.card ul li img {
  transition: transform .3s;
}

.card ul li strong:hover,
.card ul li img:hover {
  transform: scale(1.1);
}

@keyframes appear {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}