* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

:root {
  --text-color: #E1E1E6;
  --secondary-color: #f0f002;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #121214;
  background-image: url(/assets/bg-desktop.svg);
  background-position-x: center;
  background-position-y: -715px;
}

#app {
  width: fit-content;
  margin: 5.2rem auto;
}

header {
  margin-bottom: 6.3rem;
  text-align: center;
}

#cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 15px;
  gap: 32px;
}

.card {
  padding: 32px 23px;
  text-align: center;
  background: #093328;
  border-bottom: 3px solid var(--secondary-color);
  border-radius: 6px;
  margin-bottom: auto;
}

.horario {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.horario p {
  color: var(--text-color);
  font-weight: 400;
}

.card h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 8px 16px;
  border: 1px solid #746615;
  border-radius: 6px;

  width: fit-content;
  margin-inline: auto;
  margin-bottom: 53px;
  color: var(--secondary-color);
}

.card h2 span {
  color: var(--text-color);
  text-transform: uppercase;
  font-size: 14px;
}

.card ul {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 270px;
}

.card ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.card ul li+li {
  padding-top: 24px;
  border-top: 1px solid #48484c;
}

.card ul li strong {
  font-weight: 900;
  font-size: 32px;
  line-height: 125%;
  color:var(--text-color);
  margin-bottom: 15px;
}

.card ul li .grupo {
  font-weight: 900;
  color: var(--secondary-color);
}

.card ul li strong,
.card ul li img {
  transition: transform .3s;
}

.card ul li strong:hover,
.card ul li img:hover {
  transform: scale(1.1);
}

.card {
  opacity: 0;
  animation: appear 1.5s forwards;
}

@keyframes appear {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}