* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  --text-color: #E1E1E6;
  --secondary-color: #f0f002;
  --border-title-color: #746615;
  --bg-card-color: #1A1F1B;
  --bg: url(/assets/bg-yellow.svg);
}

body.blue {
  --border-title-color: #338AF3;
  --secondary-color: #338AF3;
  --bg-card-color: #202024;
  --bg: url(/assets/bg-blue.svg);
}

body.green {
  --border-title-color: #047C3F;
  --secondary-color: #047C3F;
  --bg-card-color: #1D1C19;
  --bg: url(/assets/bg-green.svg);
}

body {
  font-family: 'Sora', sans-serif;
  background: #121214 var(--bg) no-repeat top center/cover;
  margin-bottom: 4rem;
}



#app {
  width: fit-content;
  margin: auto;
  padding-top: 5.2rem;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #202029;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2022;
  padding: 20px 0px;
}

header img {
  width: 100%;
  max-width: 100px;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

nav ul li a {
  color: #F7DD43;
  transition: all .4s;
}

nav ul li a:hover {
  color: #047C3F;
}

#cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 15px;
  gap: 32px;
  margin-top: 160px;
}

.card {
  padding: 32px 23px;
  text-align: center;
  background: var(--bg-card-color);
  border-bottom: 3px solid var(--secondary-color);
  border-radius: 6px;
  margin-bottom: auto;
}

.horario {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.horario p {
  color: var(--text-color);
  font-weight: 400;
  font-size: 14px;
}

.card {
  opacity: 0;
  animation: appear 1s forwards;
}

.card h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 8px 16px;
  border: 1px solid var(--border-title-color);
  border-radius: 6px;

  width: fit-content;
  margin-inline: auto;
  margin-bottom: 53px;
  color: var(--secondary-color);
}

.card h2 span {
  color: var(--text-color);
  text-transform: uppercase;
  font-size: 14px;
}

.card ul {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 270px;
}

.card ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.card ul li+li {
  padding-top: 24px;
  border-top: 1px solid #48484c;
}

.card ul li strong {
  font-weight: 900;
  font-size: 26px;
  line-height: 125%;
  color: var(--text-color);
  margin-bottom: 15px;
}

.card ul li .grupo {
  font-weight: 900;
  color: var(--secondary-color);
}

.card ul li .nation {
  padding-top: 8px;
}

.card ul li strong,
.card ul li img {
  transition: transform .3s;
}

.card ul li strong:hover,
.card ul li img:hover {
  transform: scale(1.1);
}

#about {
  position: relative;
  z-index: 2099;
  margin-top: 240px;
  display: flex;
  padding: 60px 15px;
  gap: 130px;
  align-items: flex-start;
  justify-content: center;
  background-color: #202029;
}

#about img {
  width: 100%;
  max-width: 245px;
  border-radius: 50px;
  border-bottom: 3px solid #338AF3;
}

#about .info {
  width: 100%;
  max-width: 800px;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

#about .info h2 {
  color: #338AF3;
  font-size: 34px;
  padding-bottom: 20px;
}

#about .info p {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 300;
  line-height: 140%;
}

footer {
  margin-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 40px;
}

footer .area-left {
  color: var(--text-color);
  font-size: 14px;
  line-height: 150%;
}

footer .area-left span a {
  color: var(--text-color);
  transition: color .3s;
}

footer .area-left span a:hover {
  color: #338AF3;
}

footer .social-media ul {
  display: flex;
  gap: 20px;
}

footer .social-media ul li a {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--text-color);
  transition: color .3s;
}

footer .social-media ul li a:hover {
  color: #338AF3;
}

@keyframes appear {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media(max-width:991px) {
  #about {
    flex-direction: column-reverse;
    align-items: center;
    gap: 80px;
  }

  #about .info h2 {

    margin: 0 auto;
  }

  #about .info p {
    width: 100%;
    max-width: 715px;
    margin: 0 auto;
    text-align: center;
  }
}