* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  --text-color: #e1e1e6;
  --secondary-color: #f0f002;
  --border-title-color: #746615;
  --bg-card-color: #1a1f1b;
  --bg: url(/assets/bg-yellow.svg);
}

body.blue {
  --border-title-color: #338af3;
  --secondary-color: #338af3;
  --bg-card-color: #202024;
  --bg: url(/assets/bg-blue.svg);
}

body.green {
  --border-title-color: #047c3f;
  --secondary-color: #047c3f;
  --bg-card-color: #1d1c19;
  --bg: url(/assets/bg-green.svg);
}

body {
  font-family: "Sora", sans-serif;
  background: #121214 var(--bg) no-repeat top center/cover;
  margin-bottom: 4rem;
}

#app {
  width: fit-content;
  margin: auto;
  padding-top: 5.2rem;
}

/************ STYLE HEADER & NAV ************/


header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #202029;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2022;
  padding: 20px 0px;
}

header img {
  width: 100%;
  max-width: 100px;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

nav ul li a {
  color: #f7dd43;
  transition: all 0.4s;
}

nav ul li a:hover {
  color: #047c3f;
}


/************ STYLE MENU MOBILE ************/

.menu-mobile {
  background-color: #0000008c;
  backdrop-filter: blur(10px);
  position: absolute;
  top: 127px;
  left: 0;
  width: 100%;
  height: 100vh;
  visibility: hidden;
}

.menu-mobile nav a {
  color: white;
  display: block;
  padding: 20px 30px;
  font-size: 16pt;
}

.menu-mobile nav a:hover {
  background-color: #000000be;
}

@media screen and (max-width:600px) {
  .menu {
    display: none;
  }

  .menu-mobile.abrir {
    visibility: visible;
  }
}



/************ STYLE CARDS ************/

.horario {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.horario p {
  color: var(--text-color);
  font-weight: 400;
  font-size: 14px;
}

#cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 15px;
  gap: 32px;
  margin-top: 160px;
}

.card {
  padding: 32px 23px;
  text-align: center;
  background: var(--bg-card-color);
  border-bottom: 3px solid var(--secondary-color);
  border-radius: 6px;
  margin-bottom: auto;
  opacity: 0;
  animation: appear 1s forwards;
}

.card h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 8px 16px;
  border: 1px solid var(--border-title-color);
  border-radius: 6px;

  width: fit-content;
  margin-inline: auto;
  margin-bottom: 53px;
  color: var(--secondary-color);
}

.card h2 span {
  color: var(--text-color);
  text-transform: uppercase;
  font-size: 14px;
}

.card ul {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 270px;
}

.card ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.card ul li+li {
  padding-top: 24px;
  border-top: 1px solid #48484c;
}

.card ul li strong {
  font-weight: 900;
  font-size: 26px;
  line-height: 125%;
  color: var(--text-color);
  margin-bottom: 15px;
}

.card ul li .grupo {
  font-weight: 900;
  color: var(--secondary-color);
}

.card ul li .nation {
  padding-top: 8px;
}

.card ul li strong,
.card ul li img {
  transition: transform 0.3s;
}

.card ul li strong:hover,
.card ul li img:hover {
  transform: scale(1.1);
}

/************ STYLE ABOUT ************/


#about {
  position: relative;
  z-index: 2099;
  margin-top: 240px;
  display: flex;
  padding: 60px 15px;
  gap: 130px;
  align-items: flex-start;
  justify-content: center;
  background-color: #202029;
}

#about img {
  width: 100%;
  max-width: 245px;
  border-radius: 8px;
  border-bottom: 3px solid #338af3;
}

#about .info {
  width: 100%;
  max-width: 800px;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

#about .info h2 {
  color: #338af3;
  font-size: 34px;
  padding-bottom: 20px;
}

#about .info p {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 300;
  line-height: 140%;
}

/************ STYLE FOOTER ************/


footer {
  margin-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 40px;
}

footer .area-left {
  color: var(--text-color);
  font-size: 14px;
  line-height: 150%;
}

footer .area-left span a {
  color: var(--text-color);
  transition: color 0.3s;
}

footer .area-left span a:hover {
  color: #338af3;
}

footer .social-media ul {
  display: flex;
  gap: 20px;
}

footer .social-media ul li a {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--text-color);
  font-size: 14px;
  transition: color 0.3s;
  background-color: #202029;
    padding: 8px;
    border-radius: 8px;
}

footer .social-media ul li a:hover {
  color: #338af3;
}


/************ STYLE ANIMATION CARDS ************/

@keyframes appear {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


/************ STYLE RESPONSIVE ************/

@media (max-width: 991px) {
  #about {
    flex-direction: column-reverse;
    align-items: center;
    gap: 80px;
  }

  #about .info h2 {
    margin: 0 auto;
  }

  #about .info p {
    width: 100%;
    max-width: 715px;
    margin: 0 auto;
    text-align: center;
  }
}

/* media for style menu mobile */
/* @media (max-width: 600px) {
  #menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 125px;
    right: 0px;
    backdrop-filter: blur(10px);
    background-color: #2020298d;
    z-index: 3000;
    height: 0px;
    transition: 0.6s;
    visibility: hidden;
    overflow-y: hidden;
  }

  #nav.active #menu {
    height: calc(100vh - 125px);
    visibility: visible;
    overflow-y: auto;
  }

  #menu li {
    padding: 1rem 0px;
    margin: 0 1rem;
    border-bottom: 2px solid #434343;
  }

  #btn-mobile {
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem;
    color: var(--text-color);
  }

  #hamburger {
    display: block;
    width: 20px;
    border-top: 2px solid;
  }

  #hamburger::after,
  #hamburger::before {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    background-color: currentColor;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }

  #nav.active #hamburger {
    border-top-color: transparent;
  }

  #nav.active #hamburger::before {
    transform: rotate(135deg);
  }

  #nav.active #hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }
} */